* {
  box-sizing: border-box;
  /* makes sure all boxes are of similar size */
}

body {
  background-color: #17181f;
  color: #ddd;
}

.main {
  max-width: 600px;
  margin: 30px auto;
}

h1,
h2 {
  text-align: center;
  color: #fff;
  margin: 20px;
}

form input {
  display: flex table-column;
}
